	html{
		margin-top: 20px ;
		height: 102%;
		background: #F2F2F2;
	}

    ul{
        padding: 0;
        list-style: none;
        background: #000000;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
    }
    ul li a{						/*Menu & drop down items*/
        display: block;
        padding: 8px 25px;
        color: #000;
        text-decoration: none;
        
        -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;    /* Leave hover transition */
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
       
    }
    ul li a.menuhover{						/*Menu & drop down items*/
        display: block;
        padding: 8px 25px;
        color: #fff;
        text-decoration: none;
        
    }
    table a{
        display: block;
        padding: 8px 10px;
        color: #333;
        text-decoration: none;
    }
    ul li:hover a{					/* Menu items hover*/
        color: #000;
        background: #fff;
        -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
    }
    
    ul li ul li a:hover{			/* Dropdown(any listitem) hover*/
        color: #000;
        background: #F2F2F2;
        -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
    }
	table a:hover{					/*Left column hover */
        color: #4CA1FF;				/*Also effects the top menu bar?? */
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

    ul li ul.dropdown{
        min-width: 125px; /* Set width of the dropdown */
        background: #ffffff;
        visibility: hidden;
        opacity: 0;
        display:block;
        position: absolute;
		padding-right:-15px;
        z-index: 999;
        left: 0;
		text-align: left;
		border-left: 1px solid #CDCDCD;
		border-right: 1px solid #CDCDCD;
		border-bottom: 1px solid #CDCDCD;
		
		-webkit-transition: all 0.344s;
		-moz-transition: all 0.344s;
		-ms-transition: all 0.344s;
		-o-transition: all 0.344s;
		transition: all 0.344s;
    }
    
    ul li:hover > ul.dropdown{
       	visibility: visible;	/* Display the dropdown */
       	opacity: 1;
    }

    ul li ul.dropdown li{
        display: block;

    }
    
	div {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}
	div.pageheading {
		font-size: 32px;
		font-weight: 300;
		margin-top:-15px;
		margin-bottom:-15px;
		margin-left: auto;
		margin-right: auto;
		width: 930px;
	}
	p.customfont {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: -5px;
		margin-left: 10px;
		font-size: 38px;
		margin-bottom: 45px;
	}
	
	#pagebody {
		border-radius: 6px;
		border: 1px solid #DEDEDE;
		background: #ffffff;
		margin: 20px;
		width: 860px;
		height: auto;
		min-height: 670px;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		padding-top:40px; 
		padding-left:40px; 
		padding-right: 60px;
		line-height: 170%;
	}
	
	p.textinside{
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		margin-left: 20px;
		margin-top: -35px;
		margin-right: 20px;
		line-height: 170%;
		margin-bottom: 25px;
	}
	
	p.bottomtext{
		font-family: 'Open Sans', sans-serif;
		margin-top: -5px;
		margin-left: 20px;
		font-size: 16px;
		margin-bottom: 45px;
	}
	
	
	table.tabletext{
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.logobottom{
		min-width: 130px;
		text-align: center;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		padding: 0px 0px 0px 0px;
		color: white;
	}
	
	.logotop{
		min-width: 130px;
		text-align: center;
		font-size: 30px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		padding: 0px 0px 0px 0px;
		color: white;
		line-height: 85%;
	}
	
	
	a {
		font-size:14px;

	}
	.centeralign
	{
		text-align:center;
	}
	
	.iframepage{
		max-width: 1000px;
		max-height: 800px;
	}
	

	#wrap {
		border-radius: 6px;
		border: 1px solid #DEDEDE;
		background: #ffffff;
		padding: 20px; 
		width: 920px;
		height: auto;
		min-height: 670px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	
	#left_col {
		float:left;
		width:220px;	
		border-collapse: separate;
		line-height: : 120%;
	}
	
	.verticalLine {
		border-right: 1px solid #DEDEDE;
		position: absolute;
		margin-top: -20px;
	}
	
	#right_col {
		float:right;
		width:690px;
		line-height: : 120%;
		min-height: 670px;
		
	}
	
	.heading{
		background-color: black;
		top: 0px;
		left: 0px;
		height: 65px;
		position: absolute;
		width: 100%;
		padding-top: -5px;
		padding-bottom: 25px;
		min-width:1062px;
	}
	
	.fixed {
		white-space:nowrap;
	}
	
	.colors{
		top: 120px;
		display: block;
		margin-top: -1px;
	}
	
	td.footer {
		min-width: 130px;
		text-align: center;
	}
	td.footerid {
		min-width: 130px;
		text-align: center;
		font-size: 14px;
	}
	
	table { 
		border-collapse: collapse; 
	}
	th {
		border-bottom-width: thin;
		border-bottom-style: solid;
		border-bottom-color: #d3d3d3;
	}
	
	tr.border_bottom td {
		height: 10px;
		border-bottom-width: thin;
		border-bottom-style: solid;
		border-bottom-color: #d3d3d3;
	}
	
	#menu {
		height: auto;
		width: auto;
		font-family: 'Open Sans', sans-serif;
	}
	