	html{
		margin-top: 20px ;
		height: 102%;
		background: #F2F2F2;
	}

    ul{
        padding: 0;
        list-style: none;
        background: #000000;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    table a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a.hoveritem:hover{
        color: #fff;
        background: #939393;
        
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
	table a:hover{
        color: #fff;
		background: #4CA1FF;
    }
	#nohover .pdf a:hover{
        background-color: transparent;
    }
    ul li ul.dropdown{
        min-width: 125px; /* Set width of the dropdown */
        background: #ffffff;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
		text-align: left;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }
	div {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}
	div.pageheading {
		font-size: 32px;
		font-weight: 300;
		margin-top:-15px;
		margin-bottom:-15px;
		margin-left: auto;
		margin-right: auto;
		width: 930px;
	}
	p.customfont {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: -5px;
		margin-left: 10px;
		font-size: 42px;
	}
	
	#pagebody {
		border-radius: 10px;
		border: 1px solid #DEDEDE;
		background: #ffffff;
		margin: 20px;
		width: 860px;
		height: auto;
		min-height: 800px;
		margin-left: auto;
		margin-right: auto;
		font-family: sans-serif;
		padding-top:40px; 
		padding-left:40px; 
		padding-right: 60px;
	}
	
	p.textinside{
		font-family: sans-serif;
		font-size: 14px;
		margin-left: 10px;
		margin-top: -35px;
	}
	
	table.textinside{
		font-family: sans-serif;
		font-size: 14px;
		margin-left: 10px;
		margin-top: -35px;
	}
	
	
	a {
		font-size:14px;

	}
	.centeralign
	{
		text-align:center;
	}
	
	.iframepage{
		max-width: 1000px;
		max-height: 800px;
	}
	
	.verticalLine {
		border-right: 1px solid #DEDEDE;
		height: auto;
		position: absolute;
		margin-top: -20px;
		padding-left: -20px;
	}
	#wrap {
		border-radius: 10px;
		border: 1px solid #DEDEDE;
		background: #ffffff;
		padding: 20px; 
		width: 920px;
		height: auto;
		min-height: 800px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		
	}
	
	#left_col {
		float:left;
		width:250px;
	}
	#right_col {
		float:right;
		width:640px;
		
	}
	
	
	.heading{
		background-color: black;
		top: 0px;
		left: 0px;
		height: 75px;
		position: absolute;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 25px;
		min-width:1080px

	}
	
	.fixed { 
		table-layout:fixed; 
		white-space: nowrap
	}
	
	.colors{
		top: 120px;
		display: block;
		margin-top: 3px;
	}
	
	td.footer {
		min-width: 130px;
		text-align: center;
	}
	td.footerid {
		min-width: 130px;
		text-align: center;
		font-size: 14px;
	}
	
	#menu {
		height: auto;
		width: auto;
		font-family: 'Open Sans', sans-serif;
	}
	